<div class="container">
  <div class="row g-2">
    <div class="col-4">
      <div class="p-3 border bg-light">
        <div>Ng-If-Directive</div>
        <hr />
        <!-- How to implement the else block for ngIf directory -->
        <!-- Give in # is called template-reference variable in our case its #elseBlock -->

        <!-- <p>
          Here i have used the angular specific html tag "ng-template" for if
          and else condition in html.
        </p>
        <div *ngIf="displayName">
          {{ displayName }}
          <p>show display name</p>
        </div>

        <ng-template #thenBlock>
          <h3>This is then block - visible</h3>
        </ng-template>

        <ng-template #elseBlock>
          <h3>This is else block - hidden</h3>
        </ng-template> -->
        <!-- <div *ngIf="condition">Content to render when condition is true.</div> -->

        <!-- <div *ngIf="age">
          {{age}}
        </div> -->

    <!-- <button (click)="show = !show">{{show ? 'hide' : 'show'}}</button>
    show = {{show}}
    <br>
    <div *ngIf="show; else elseBlock">Text to show</div>
    <ng-template #elseBlock>Alternate text while primary text is hidden</ng-template>
         -->
         <h1>{{user.name}}</h1>
         <h4>{{user.title}}</h4>
         <p>{{user.address}}</p>
         <div *ngIf ="user.phone.length > 0">phone :</div>
         <p *ngFor="let phno of user.phone">{{phno}}</p>
         
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
        <div>Ng-Switch-Directive</div>
        <hr />
        <p>
          Here i have used the angular [ngSwitch] for switch case fro rendering
          multiple cases
        </p>
        <div [ngSwitch]="color">
          <div *ngSwitchCase="'red'" class="h3">You picked Red color</div>
          <div *ngSwitchCase="'blue'" class="h3">You picked Blue color</div>
          <div *ngSwitchCase="'green'" class="h3">You picked Green color</div>
          <div *ngSwitchDefault class="h3">Pick again</div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="p-3 border bg-light">
      <div>Ng-For-Directive</div>
      <hr>
      <h1>{{user.name}}</h1>
      <h4>{{user.title}}</h4>
      <p>{{user.address}}</p>
      <div>phone :</div>
      <p *ngFor="let phno of user.phonefor">{{phno}}</p>
    </div>
    </div>
  </div>
</div>
