<div class="container">
  <!-- Interpolation only works with string values -->
  <p class="h4">My name is {{ dynName }}</p>
  <br />
  <!-- we can also use expressions in Interpolation -->
  Using experssion --> {{ 5 * 5 }} <br />
  <!-- String concatination -->
  String Interpolation --> {{ "Welcome " + dynName }} <br />
  <!-- Js inbuit properties -->
  Length --> {{ dynName.length }} <br />
  UpperCase --> {{ dynName.toUpperCase() }} <br />
  Creating Custom methods --> {{ myMethod() }} <br />
  Ternary conditional operators --> This app is
  {{ appStatus ? status1 : status2 }}
  <br /><br />

  <p class="h4">Property Binding</p>
  <br />
  <!-- Property binding is nothing but assigning [] to any html attribute instead of values -->
  <input type="text" [value]="dynName" />&nbsp; --> without property binding
  <input type="text" disabled="false" [value]="dynName" /> --> With proprety
  binding <input type="text" [disabled]="false" [value]="dynName" />
  <br /><br />
  Dynamically accessing property -->
  <input type="text" [disabled]="!enable" [value]="dynName" />
</div>
