<div class="container">
  <div class="row row align-items-center">
    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">
            Event-binding
            <!-- Event-binding is nothing but binding data from view to component. -->
          </p>
          <!-- Creating myAddCart and using it to access msg dynamically -->
          <button class="btn btn-primary" (click)="myAddCart()">
            Add to Cart</button
          ><br /><br />
          <p>{{ msg }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <!-- Event-binding using input tag check the values in console.log -->
          <p class="h4">Event-binding using input</p>

          <input
            class="form-control"
            type="text"
            value="myInputValue"
            (click)="myInputValue($event)"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <!-- Event-binding using button tag -->
          <p class="h4">Event-binding using buttons</p>
          <button class="btn btn-primary" (click)="addCart($event)" value="TV">
            Tv</button
          >&nbsp;
          <button
            class="btn btn-primary"
            (click)="addCart($event)"
            value="Mobile"
          >
            Mobile</button
          >&nbsp;
          <button
            class="btn btn-primary"
            (click)="addCart($event)"
            value="Earphones"
          >
            Earphones</button
          >&nbsp; <br /><br />
          <!-- Creating myCart method and using it to access cartmsg dynamically -->
          <p>{{ cartmsg }}</p>

          <br />
          <!-- <button (scroll)="scrollCallback()">Click Me</button> -->
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row row align-items-center">
    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">focusCallback</p>
          <p>
            This is the tag which is used for focus clicking, check the result
            in console
          </p>
          <button class="btn btn-primary" (focus)="focusCallback()">
            Click Me
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">blurCallback</p>
          <p>
            Whern we click it is captured, and when we click on somewhere else
            the click is displayed
          </p>
          <button class="btn btn-primary" (blur)="blurCallback()">
            Click Me
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">clickCallback</p>
          <p>
            When we click the click is captured, and the click is displayed in
            console of browser
          </p>
          <button class="btn btn-primary" (click)="clickCallback()">
            Click Me
          </button>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="row row align-items-center">
    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">dblclickCallback</p>
          <p>
            whenevr we doulbe click on button the click is captured, check the
            result in console
          </p>
          <button class="btn btn-primary" (dblclick)="dblclickCallback()">
            Click Me
          </button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">keyupCallback</p>
          <p>
            When we type something on the keyboard the event is captured, and
            the event is displayed.
          </p>
          <input
            class="form-control"
            type="text"
            value="Press any key"
            (keydown)="keydownCallback()"
          />
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="col py-3 px-lg-5 border bg-light">
          <p class="h4">mouseenterCallback</p>
          <p>
            Whenever we hover the mouse cursor over the input tag the mouse
            hover is captured.
          </p>
          <input
            class="form-control"
            type="text"
            value="Hoverthemouse"
            (mouseenter)="mouseenterCallback()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
